.heading {
	
	margin-left: 20px;
	font-size: 50px;
	font-family: Georgia;
	font-style: oblique;
	color: crimson;
}
.heading1 {
	
	margin-left: 20px;
	font-size: 48px;
	font-family: Futura;
	font-style: oblique;
	color: crimson;
}

.header-slideshow div, .header-slideshow img{
	margin: 0px auto;
	width: 80%;
	text-align: center;
}
.mySlides{
	
	height:700px;
	width:80%;
	
}

.topic {
	  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
	font-size: 80px;
	font-family: Futura;/*Trebuchet MS Header;*/
	font-style: italic;
	background-size: cover;
	padding-left: 50px;
	text-align: center;
}

.headers {
	
	font-style: italic;
	font-family: Futura;
	color: red;
	text-align: center;
}
.o {
	font-size:41px;
	
	font-family: Futura;
	color: darkred;
	text-align: center;
}
.s {

	color: red;
	font-family: Futura;
	font-size: 32px;
	margin-left: 20px;
}
div.b1 {

    width: 100%;
}


.b1 img {
	float:left;
    width: 50%;
    margin: 0;
    height: 675px;
}
.b1 img:hover {

    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}

.b1 article {
	color: black;
	opacity: 0.8;
	
	background-color: pink;
	font-family: Futura;
	font-size: 30px;
	margin-left: 170px;
    padding: 1em;
    overflow: hidden;

}

div.b2 {
    width: 100%;


}

.b2 img {

    float:right;
    width: 50%;
    margin: 0;
    height: 554px;
}
.b2 img:hover {

    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}
.b2 article {
	color: black;
	opacity: 0.8;
	background-color: lightblue;
	font-family: Futura;
	font-size: 30px;
	margin-right: 170px;
    padding: 1em;
    overflow: hidden;
}


div.bnote {
	margin: 20px;
	padding: 35px;
	/*background-image: url("images/bggg.jpg");*/
	background-color: black;
	
	border-radius: 30px;
	

}

.tex{
	font-family: Futura;
	color: gold;
	font-size: 27px;

}
.tt-photos {
	border-radius: 20px;
	height: 300px;
	width: 70%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.bigger {
	font-size: 30px;
}

div.b3 {
	background-color: lightsalmon;
    width: 100%;
    
}

.b3 img {
	float:left;
    width: 50%;
    margin: 0;
    height: 500px;
}
.b3 img:hover {

    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}
.sm {
		color: dimgray;
	font-family: Futura;
	font-size: 30px;
	/*margin-left: 100px;*/
	

   
}
.b3 article {
	color: black;
	font-family: Futura;
	font-size: 30px;
	margin-left: 80px;
	margin-right: 80px;

    padding: 1em;
    overflow: hidden;
}
/* hover starts here */


div.b4 {
	background-color: palegreen;
    width: 100%;
   
}
.b4 h1 {
	text-align: center;
}

/*.b4 img {
	float:left;
    width: 50%;
    margin: 0;
    height: 500px;
}*/

.b4 article {
	color: black;
	font-family: Futura;
	font-size: 30px;
	margin-left: 80px;
	margin-right: 100px;
    width: 80%;
    padding: 1em;
    overflow: hidden;
    }

.b4 ul.a {
	list-style-type: square;
}
.container {
  position: relative;
  width: 50%;
  float: left;
}

.image {
  
  width: 100%;
  height: auto;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 30px;
  font-family: Futura;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none; font-family: Futura;} 
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:240px; margin-left:-327px;

    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; 
    border:2px solid #FFF;  color:#EEE;
    background:#333 url(http://www.menucool.com/tooltip/cssttp/css-tooltip-gradient-bg.png) repeat-x 0 0;
}

.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:2px;        
    box-shadow: 0px 0px 8px 4px #666;
    /*opacity: 0.8;*/
}

div.b5 {
	background-color: mediumslateblue;
	width:100%;
	margin-top: 50px;
}
.b5 img {
	float:left;
    width: 50%;
    margin: 0;
}
.b5 img:hover {

    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}
.b5 article {
	color: black;
	font-family: Futura;
	font-size: 30px;
	margin-left: 80px;
	margin-right: 80px;

    padding: 1em;
    overflow: hidden;
}


.small-headers {
	font-family: Futura;
	font-size: 25px;
	margin-left: 20px;

}

.m {
	
	border-radius: 20px;
	font-size: 65px;
	color: maroon;

	
}
.n {

	border-radius: 20px;
	font-size: 50px;
	color: maroon;
	
}
.qq { /* Molecular structure of three chemicals*/
	font-family: Futura;
	margin-left: 25px;
	margin-right: 35px;
	margin-top: 35px;
	padding: 20px;
}
/*
.qqq { 
	font-family:Futura;
	color: orange;
	margin-left: 25px;
	font-size: 25px;
}*/
.q {
	border-radius: 20px;
	background-color: white;
	font-size: 60px;
}
.t {  /* three chemicals */
	margin-left: 30px;
    /*border: 1px solid #ddd;*/
    border-radius: 4px;
    padding: 5px;
    width: 300px;  
}

.t:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.sauce {
	background-color: yellow;
	padding-top: 20px;
	padding-bottom: 50px;
}
